body{
    text-align: center;
    font-family: cursive;
    background-color: rgb(32, 144, 241);
}

#score{
    color: green;
    font-size: 20px;
    font-weight: bold;
}

#game-canvas{
 border: 2px solid black;
}

