*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #ffc;
}

#eq{
    background-color: green;
    color: white;
}

.container{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.calculator{
    border: 2px solid black;
    height: 30rem auto;
    width: 23rem auto;
    /* display: flex; */
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: aliceblue;
}

#inp{
    height: 50px;
    width: 21.5rem auto;
    font-size: 30px;
}


.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
    /* Other properties... */
}

.row input {
    cursor: pointer;
    height: 50px;
    border-radius: 20px;
}

.row input:hover{
    background-color: aquamarine;
}